 h1 {
     margin: 30px;
     background-color: black;
     opacity: 0.6;
     filter: alpha(opacity=60);
     /* For IE8 and earlier */
     color: white;
 }
  h2 {
     margin: 30px;
     background-color: black;
     opacity: 0.6;
     filter: alpha(opacity=60);
     /* For IE8 and earlier */
     color: white;
 }  
 footer {
     padding: 1em;
     color: white;
     background-color: black;
     clear: left;
     text-align: center;
 }
 body {
    background-color: #0B2545 !important;
}   
.row{
    margin-left: 700px;
}